@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme__color {
    color: #6030b1;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 57px;
}

h2 {
    font-size: 30px;
}

.button__hover:hover {
    color: black;
    border: solid 3px #6030b1;
    background-color: antiquewhite;
}

.font__white {
    color: white;
}



/* --- Navigation Bar Style --- */



.navbar {
    width: 100%;
    height: 10vh;
    margin: auto;
    position: relative;    
}

.nav__img {
    width: 100%;
    max-width: 250px;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    font-size: 20px;
    font-weight: 500;
    margin-left: 48px;
}

.nav__link--hover {
    position: relative;
}

.nav__link--hover:after {
    content: "";
    position: absolute;
    background-color: #6030b1;
    border-color: #6030b1;
    bottom: -2px;
    right: 0;
    height: 3px;
    width: 0;
    transition: all 300ms ease;
}

.nav__link--hover:hover:after {
    left: 0;
    width: 100%;
}

.nav__button {
    font-size: 20px;
    font-weight: 550;
    letter-spacing: 2px;
    color: white;
    background-color: #6030b1;
    padding: 8px 48px;
    border: solid 3px #6030b1;
    border-radius: 50px;
    margin-left: 48px;
    transition: all 300ms ease-in-out
}



/* --- Landing Section Style --- */



.landing-page {
    height: calc(-165px + 100vh);
    overflow-x: hidden;
}

.landing__row {
    flex-direction: column;
}

.landing__title,
.landing__subtitle {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    text-align: center;
}

.landing__title {
    width: 100%;
    max-width: 730px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    animation: slide__1 750ms ease-in 500ms forwards;
}

.landing__subtitle {
    padding: 24px 0;
    animation: slide__1 1000ms ease-in 750ms forwards;
}

@keyframes slide__1 {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
    }
}

.landing__search--wrapper {
    width: 100%;
    max-width: 800px;
    margin: 24px 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
    opacity: 0;
    animation: slide__2 1000ms ease-in 1250ms forwards;
}

@keyframes slide__2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.landing__search--input {
    font-size: 24px;
    width: 75%;
    height: 70px;
    margin: 14px 0;
    padding: 0 16px;
    border-radius: 25px;
}

.landing__search--button {
    width: 25%;
    margin: 14px 0 14px 16px;
    border-radius: 25px;
    height: 70px;
    border: solid 3px #6030b1;
    background-color: #6030b1;
    transition: all 300ms ease;
}

.fa-magnifying-glass {
    color: antiquewhite;
    font-size: 32px;
    transition: all 300ms ease;
}

.landing__search--button:hover .fa-magnifying-glass { /* need to target the icon from parent hover */
    color: #6030b1; /* or any color you want on hover */
}

.landing__img--wrapper {
    max-width: max-content;
    height: 50vh;
    position: relative;
}

.landing__img--car-wrapper {
    visibility: hidden;
    animation: carslidein 2000ms ease-out 1s forwards,
    carslideout 2000ms ease-in 10000ms forwards;
}

@keyframes carslidein {
    0% {
        visibility: visible;
        transform: translateX(100vw)
    }

    100% {
        visibility: visible;
        transform: translateX(0)
    }
}

@keyframes carslideout {
    0% {
        transform: translateX(10)
    }

    100% {
        transform: translateX(-100vw)
    }
}

.landing__img--car {
    position: absolute;
    width: 50%;
    bottom: 0px;
    right: 300px;
    animation: carbounce 600ms ease infinite alternate-reverse;
}

@keyframes carbounce {
    0% {
        transform: translateY(0)
    }

    20%  {
        transform: translateY(-1px)
    }

    60%  {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-1px)
    }
}

.landing__img--wheels {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12.5%;
}

.landing__img--wheel-1 {
    right: 665px;
}

.landing__img--wheel-2 {
    right: 345px;
}



/* --- Search Page Styles --- */
/* --- Search Page Navigation Styles --- */



.search__navbar {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    background-image: url(https://dev.d24jig8s1lr7n9.amplifyapp.com/img/carpark.8742e246.jpeg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
}

.search__navbar::before {
    content: "";
    position: absolute;
    inset: 0; /* covers the whole navbar */
    background-color: #2b1158be;
    z-index: 0;
}

.search__navbar--row {
    width: 100%;
    padding: 16px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.search__navbar--container {
    width: 100%;
}

.navbar__background-image {
    position: absolute;
}

.search__input--row {
    text-align: center;
    position: relative;
}

.search__title {
    color: white;
    font-size: 48px;
    font-weight: 600;
}

.search__input {
    margin-top: 40px;
    font-size: 24px;
    width: 100%;
    max-width: 600px;
    height: 70px;
    padding: 0 16px;
    border-radius: 50px;
}

.search__icon--color {
    color: #6030b1;
    position: absolute;
    right: 325px;
    bottom: 20px;
}



/* --- Search Page Search Styles --- */



#search {
    width: 100vw;
}

.search__container {
    width: 100vw;
    margin: 0;
    border: solid 1px black;
}

.search__row {
    width: 100%;
    text-align: center;
    border: solid 1px black;
}

.search__progress-bar {
    width: 100%;
}

.search__progress-bar--track {
    width: 100%;
}

.search__progress-bar--fill {
    width: 100%;
}

.search__progress-bar--update {
    width: 100%;
}

.search__results--container {
    margin: 24px 48px;
}

.search__results--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
}

.search__price--filter {
    margin-bottom: 16px;
    padding: 0 24px;
}

.search__results--output {
    text-align: center;
}